physics/3-electricity-and-magnetism/src/main.aux
physics/3-electricity-and-magnetism/src/main.log
physics/3-electricity-and-magnetism/src/main.pdf
physics/3-electricity-and-magnetism/src/main.synctex.gz
analytical-mechanics/
